{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Colour Pal plugin for Craft CMS 3.x
 *
 * ColourPalField Field Input
 *
 * @author    Isaac Gray
 * @copyright Copyright (c) 2018 Isaac Gray
 * @link      https://www.vaersaagod.no
 * @package   ColourPal
 * @since     0.9.0
 */
#}

{% import "_includes/forms" as forms %}

<div class="ColourPal__field">
    <select class="ColourPal__select">
        {% for option in fieldOptions %}
            {% if option.placeholder ?? null %}
                <option placeholder>{{  option.label }}</option>
            {% else %}
                <option value='{{ option.value }}' {% if value == option.value %}selected{% endif %}>{{ option.label }}</option>
            {% endif %}

        {% endfor %}
    </select>

    <div class="ColourPal__select-default">
        <div class="select">
            <select id="{{ id  }}" name="{{ name }}">
                {% for option in fieldOptions %}
                    <option value='{{ option.value }}' {% if value == option.value %}selected{% endif %} {% if option.placeholder ?? null %}placeholder{% endif %}>{{ option.label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>


